@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');
@import './sass/helpers/variables';

html {
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

body {
  background-image: url(./images/bg-pattern-top-mobile.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 80px 0;
}

.header {
  width: 85%;
  margin: 0 auto;
  text-align: center;

  &__title {
    color: $dark-magenta;
    letter-spacing: -1px;
    line-height: 1;
    font-size: 2.15rem;
    font-weight: 700;
  }

  &__subtitle {
    color: $grayish-magenta;
    line-height: 1.7;
    font-size: 0.94rem;
    font-weight: 500;
  }

  &__rate {
    margin: 45px 0;
  }
}

.score {
  background-color: $light-magenta;
  border-radius: 10px;
  margin-bottom: 15px;

  &__stars {
    padding-top: 15px;
  }

  &__star {
    margin-right: 5px;
  }

  &__description {
    color: $dark-magenta;
    font-size: 0.88rem;
    font-weight: 700;
    padding-bottom: 15px;
  }
}

.card {
  width: 85%;
  background-color: $dark-magenta;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 15px;

  &__header {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__photo {
    width: 25%;
    height: 100%;
  }

  &__img {
    width: 40px;
    border-radius: 50%;
  }

  &__data {
    width: 75%;
    text-align: left;
    font-size: 0.85rem;
  }

  &__name {
    color: $white;
    font-weight: 500;
    margin-bottom: 5px;
  }

  &__subtitle {
    color: $pink;
    font-weight: 400;
    margin-top: 0;
  }

  &__review {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    color: $white;
    line-height: 2;
    font-size: 0.82rem;
    font-weight: 400;
  }
}

.attribution {
  padding-bottom: 15px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

// Tablet view
@media only screen and (min-width: 667px) {
  .header {
    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 1rem;
    }

    &__rate {
      display: flex;
      justify-content: space-between;
    }
  }

  .score {
    width: 30%;
    padding: 5px;

    &__description {
      line-height: 1.7;
      padding: 0 15px
    }
  }

  .reviews {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    width: 46%;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 968px) {
  .card {
    width: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-position: left top, center bottom;
    background-size: auto, 55%;
  }

  .container {
    margin: 90px 0;
  }

  .header {
    width: 80%;
    max-width: 1200px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;

    &__info {
      width: 40%;
      text-align: left;
    }

    &__title {
      font-size: 3.3rem;
      margin-bottom: 1rem;
    }

    &__subtitle {
      font-size: 0.95rem;
    }

    &__rate {
      width: 50%;
      flex-direction: column;
      margin: 42px 0;
    }
  }

  .score {
    width: 78%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding: 3px 0 3px 35px;

    &--start {
      align-self: flex-start;
    }

    &--center {
      align-self: center;
    }

    &--end {
      align-self: flex-end;
    }

    &__stars {
      margin-right: 10px;
    }
  }

  .reviews {
    height: 260px;
    width: 80%;
    max-width: 1200px;
  }

  .card {
    width: 32%;
    max-width: 380px;
    margin: 0;

    &--start {
      align-self: flex-start;
    }

    &--center {
      align-self: center;
    }

    &--end {
      align-self: flex-end;
    }
  }

  .attribution {
    margin-top: 12rem;
  }  
}